{% extends 'base.html' %}

{% block title %}
Set Interval
{% endblock %}

{% block content %}
<script>
  function set_interval() {
    var new_interval = document.getElementById('interval').value;
    window.location = window.location + "?interval=" + new_interval;
  }
</script>
Interval is currently {{ interval }}.<br>
{{ expiration }}s until current interval expires.<br>
<input id='interval'></input><button onclick='set_interval()'>Change interval</button><br>
<a href=http://18.220.120.4/>index</a>
{% endblock %}
